<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:adx="http://schemas.add-in-express.com/wixdesigner">
  <?define UpgradeCode=A51BD2B3-7BDF-4817-BD54-01CC96137F5C?>
  <!--<?define VERSION=!(bind.assemblyVersion.PicPickWpf)?>-->
  <!--<?define VERSION="$(fileVersion.ProductVersion($(var.PicPick.TargetPath)))" ?>-->
  <?define VERSION=1.0.7?>
  <Product Id="*" Name="PicPick" Language="1033" Version="$(var.VERSION)" Manufacturer="TalTools" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Manufacturer="TalTools" Comments="Manage your media files" Description="PicPick" />
    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Property="PREVIOUSVERSIONSINSTALLED" OnlyDetect="no" RemoveFeatures="ALL" IncludeMaximum="yes" IncludeMinimum="yes" Minimum="0.0.0.0" />
    </Upgrade>
    <Binary Id="InstallUtilConfig" SourceFile="Resources\Binary\InstallUtilConfig" />
    <?if $(var.Platform)=x86 ?>
    <Binary Id="ADXDPCADLL" SourceFile="Resources\Binary\adxdpca.dll" />
    <Binary Id="InstallUtil" SourceFile="Resources\Binary\InstallUtil" />
    <?else ?>
    <Binary Id="ADXDPCADLL" SourceFile="Resources\Binary\adxdpca64.dll" />
    <Binary Id="InstallUtil" SourceFile="Resources\Binary\InstallUtil64" />
    <?endif ?>
    <Property Id="ARPCOMMENTS" Value="Manage your media files" />
    <Property Id="ARPCONTACT" Value="Tal Bener" />
    <Property Id="ARPPRODUCTICON">_395BCB5BBD6E</Property>
    <Icon Id="_395BCB5BBD6E" SourceFile="Resources\picpick.ico" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Feature Id="ProductFeature" Title="PicPick" Level="1">
      <ComponentGroupRef Id="PicPickWpf.Binaries" />
      <ComponentRef Id="comp_dir_66C10128_6E71_41FC_8CA1_867190F3A1D0" />
      <ComponentRef Id="comp_F0436516_3F5A_487C_A84E_8B74A8D207F0" />
      <ComponentRef Id="comp_89230101_BDAA_4E68_AE17_D67CB7323483" />
      <ComponentRef Id="comp_A2F668D2_A7E4_4079_94B8_C7959718CE2F" />
      <ComponentRef Id="comp_431011E1_953B_4279_9198_27E6235F6991" />
      <ComponentRef Id="comp_F1A7A4C0_9239_4DF1_B066_EE3D3810375F" />
      <ComponentRef Id="comp_A071CEB7_904B_40AF_95A8_5BBFFAE75D61" />
      <ComponentRef Id="comp_07967EDE_1183_41DF_AD1C_4DFECD6A26EB" />
      <ComponentRef Id="comp_B8D5AC86_0017_403B_A2B8_022349488EC5" />
      <ComponentRef Id="comp_F0674128_E3F5_4858_9EAD_5B37FFE5CE13" />
      <ComponentRef Id="comp_918BE395_6CDB_4A41_99D7_F13CA2263EFA" />
      <ComponentRef Id="comp_886F49F8_9D0C_4B5B_B315_A4267A032E08" />
      <ComponentRef Id="comp_2D34C92D_6B06_49DC_A407_AB69A3C2DC6E" />
      <ComponentRef Id="comp_09B9BA0E_9AEA_450F_85C2_692F549F236B" />
      <ComponentRef Id="comp_3732FABD_30FD_4E4E_B9E2_7E1FA8618D1A" />
      <ComponentRef Id="comp_CED480B7_DB08_4612_A698_0C7585DF7CD7" />
    </Feature>
    <InstallUISequence>
      <Custom Action="ERRCA_UIANDADVERTISED" Sequence="5"><![CDATA[ProductState=1]]></Custom>
      <Custom Action="VSDCA_FolderForm_AllUsers" Sequence="997"><![CDATA[Installed="" AND NOT RESUME AND ALLUSERS=1]]></Custom>
      <Custom Action="DIRCA_TARGETDIR" Before="CostInitialize"><![CDATA[TARGETDIR = ""]]></Custom>
      <Show Dialog="UserExitForm" OnExit="cancel" />
      <Show Dialog="FatalErrorForm" OnExit="error"><![CDATA[NOT HideFatalErrorForm]]></Show>
      <Show Dialog="MaintenanceForm" Sequence="999"><![CDATA[Installed<>""]]></Show>
      <Show Dialog="ResumeForm" Sequence="998"><![CDATA[Installed="" AND RESUME]]></Show>
      <Show Dialog="FinishedForm" OnExit="success" />
      <Custom Action="PreventDowngrading" After="FindRelatedProducts"><![CDATA[NEWPRODUCTFOUND]]></Custom>
      <FindRelatedProducts Sequence="200" />
    </InstallUISequence>
    <CustomAction Id="VSDCA_FolderForm_AllUsers" Property="FolderForm_AllUsers" Value="ALL" />
    <CustomAction Id="CA_CreateConfig" BinaryKey="ADXDPCADLL" DllEntry="GetConfig" />
    <CustomAction Id="DIRCA_TARGETDIR" Property="TARGETDIR" Value="[ProgramFilesFolder]\[ProductName]" Execute="firstSequence" />
    <!--<Property Id="WixShellExecTarget" Value="[TARGETDIR]PicPickUI.exe" />
    <CustomAction Id="LaunchApplication" BinaryKey="InstallUtil" DllEntry="WixShellExec" Impersonate="yes" />-->
    <AdminUISequence>
      <Custom Action="DIRCA_TARGETDIR" Before="CostInitialize"><![CDATA[TARGETDIR = ""]]></Custom>
      <Show Dialog="UserExitForm" OnExit="cancel" />
      <Show Dialog="FatalErrorForm" OnExit="error"><![CDATA[NOT HideFatalErrorForm]]></Show>
      <Show Dialog="MaintenanceForm" Sequence="999"><![CDATA[Installed<>""]]></Show>
      <Show Dialog="ResumeForm" Sequence="998"><![CDATA[Installed="" AND RESUME]]></Show>
      <Show Dialog="FinishedForm" OnExit="success" />
    </AdminUISequence>
    <InstallExecuteSequence>
      <Custom Action="CA_CreateConfig" Sequence="1" />
      <Custom Action="DIRCA_TARGETDIR" Before="CostInitialize"><![CDATA[TARGETDIR = ""]]></Custom>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts"><![CDATA[NEWPRODUCTFOUND]]></Custom>
    </InstallExecuteSequence>
    <UI>
      <Error Id="1001"><![CDATA[Error [1]. [2]]]></Error>
    </UI>
    <UIRef Id="FinishedDlg" />
    <UIRef Id="WelcomeDlg" />
    <UIRef Id="ProgressDlg" />
    <UI Id="Base">
      <Property Id="VSDNETURLMSG" Value="This setup requires the .NET Framework version [1].  Please install the .NET Framework and run this setup again.  The .NET Framework can be obtained from the web.  Would you like to do this now?" />
      <Property Id="VSDIISMSG" Value="This setup requires Internet Information Server 5.1 or higher and Windows XP or higher.  This setup cannot be installed on Windows 2000.  Please install Internet Information Server or a newer operating system and run this setup again." />
      <Property Id="VSDUIANDADVERTISED" Value="This advertised application will not be installed because it might be unsafe. Contact your administrator to change the installation user interface option of the package to basic." />
      <Property Id="VSDNETMSG" Value="This setup requires the .NET Framework version [1].  Please install the .NET Framework and run this setup again." />
      <Property Id="VSDINVALIDURLMSG" Value="The specified path '[2]' is unavailable. The Internet Information Server might not be running or the path exists and is redirected to another machine. Please check the status of this virtual directory in the Internet Services Manager." />
      <Property Id="VSDVERSIONMSG" Value="Unable to install because a newer version of this product is already installed." />
    </UI>
    <CustomAction Id="ERRCA_UIANDADVERTISED" Error="[VSDUIANDADVERTISED]" />
    <UI Id="BasicDialogs">
      <Binary Id="NewFldrBtn" SourceFile="Resources\WiXNewFolderBtn.ico" />
      <Binary Id="UpFldrBtn" SourceFile="Resources\WiXUpFolderBtn.ico" />
      <Property Id="ErrorDialog" Value="ErrorDialog" />
      <Property Id="SFF_UpFldrBtn" Value="UpFldrBtn" />
      <Property Id="SFF_NewFldrBtn" Value="NewFldrBtn" />
      <TextStyle Id="VSI_MS_Sans_Serif13.0_0_0" FaceName="MS Sans Serif" Size="9" Red="0" Green="0" Blue="0" />
      <TextStyle Id="VSI_MS_Sans_Serif16.0_1_0" FaceName="MS Sans Serif" Size="12" Red="0" Green="0" Blue="0" Bold="yes" />
      <TextStyle Id="VSI_MS_Shell_Dlg13.0_0_0" FaceName="MS Shell Dlg" Size="9" Red="0" Green="0" Blue="0" />
      <Dialog Id="Cancel" X="50" Y="50" Width="271" Height="78" Title="[ProductName]" NoMinimize="yes">
        <Control Id="NoButton" Type="PushButton" X="198" Y="48" Width="65" Height="21" Text="{\VSI_MS_Sans_Serif13.0_0_0}&amp;No" TabSkip="no" Default="yes" Cancel="yes">
          <Publish Event="EndDialog" Value="Return" />
        </Control>
        <Control Id="YesButton" Type="PushButton" X="126" Y="48" Width="65" Height="21" Text="{\VSI_MS_Sans_Serif13.0_0_0}&amp;Yes" TabSkip="no">
          <Publish Event="EndDialog" Value="Exit" />
        </Control>
        <Control Id="BodyText" Type="Text" X="6" Y="9" Width="258" Height="24" Text="{\VSI_MS_Sans_Serif13.0_0_0}The installation is not yet complete. Are you sure you want to exit?" TabSkip="yes" NoPrefix="yes" />
      </Dialog>
      <Dialog Id="ConfirmRemoveDialog" X="50" Y="50" Width="271" Height="78" Title="Remove [ProductName]" NoMinimize="yes">
        <Control Id="NoButton" Type="PushButton" X="198" Y="48" Width="65" Height="21" Text="{\VSI_MS_Sans_Serif13.0_0_0}&amp;No" TabSkip="no" Default="yes" Cancel="yes">
          <Publish Property="WelcomeForm_ConfirmRemove" Value="No" />
          <Publish Event="EndDialog" Value="Return" />
        </Control>
        <Control Id="YesButton" Type="PushButton" X="126" Y="48" Width="65" Height="21" Text="{\VSI_MS_Sans_Serif13.0_0_0}&amp;Yes" TabSkip="no">
          <Publish Property="WelcomeForm_ConfirmRemove" Value="Yes" />
          <Publish Event="EndDialog" Value="Return" />
        </Control>
        <Control Id="BodyText" Type="Text" X="6" Y="9" Width="258" Height="24" Text="{\VSI_MS_Sans_Serif13.0_0_0}You have chosen to remove [ProductName] from your computer. Are you sure you want to remove it?" TabSkip="yes" NoPrefix="yes" />
      </Dialog>
      <Dialog Id="DiskCost" X="50" Y="50" Width="361" Height="192" Title="[ProductName] Disk Space" NoMinimize="yes" TrackDiskSpace="yes">
        <Control Id="OKButton" Type="PushButton" X="288" Y="165" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}OK" TabSkip="no" Default="yes" Cancel="yes">
          <Publish Event="EndDialog" Value="Return" />
        </Control>
        <Control Id="VolumeCostList1" Type="VolumeCostList" X="6" Y="39" Width="348" Height="114" Text="{\VSI_MS_Sans_Serif13.0_0_0}{116}{80}{80}{80}{80}" TabSkip="no" Sunken="yes" Removable="yes" Fixed="yes" Remote="yes" />
        <Control Id="AvailableBodyText" Type="Text" X="6" Y="9" Width="348" Height="24" Text="{\VSI_MS_Sans_Serif13.0_0_0}The list below includes the drives you can install [ProductName] to, along with each drive's available and required disk space." TabSkip="yes" NoPrefix="yes">
          <Condition Action="show"><![CDATA[OutOfDiskSpace<>1]]></Condition>
          <Condition Action="hide"><![CDATA[OutOfDiskSpace=1]]></Condition>
        </Control>
        <Control Id="RequiredBodyText" Type="Text" X="6" Y="9" Width="348" Height="24" Text="{\VSI_MS_Sans_Serif13.0_0_0}The amount of required disk space exceeds the amount of available disk space. The highlighted items indicate the drives with insufficient disk space." TabSkip="yes" NoPrefix="yes">
          <Condition Action="show"><![CDATA[OutOfDiskSpace=1]]></Condition>
          <Condition Action="hide"><![CDATA[OutOfDiskSpace<>1]]></Condition>
        </Control>
      </Dialog>
      <Dialog Id="FilesInUse" X="50" Y="50" Width="361" Height="177" Title="[ProductName] Files in Use" NoMinimize="yes">
        <Control Id="RetryButton" Type="PushButton" X="99" Y="150" Width="81" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}&amp;Try Again" TabSkip="no" Default="yes">
          <Publish Event="EndDialog" Value="Retry" />
        </Control>
        <Control Id="ContinueButton" Type="PushButton" X="186" Y="150" Width="81" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}&amp;Continue" TabSkip="no">
          <Publish Event="EndDialog" Value="Ignore" />
        </Control>
        <Control Id="ExitButton" Type="PushButton" X="273" Y="150" Width="81" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}E&amp;xit Installation" TabSkip="no" Cancel="yes">
          <Publish Event="EndDialog" Value="Exit" />
        </Control>
        <Control Id="ListFilesInUse" Type="ListBox" X="6" Y="51" Width="348" Height="90" Property="FileInUseProcess" Text="{\VSI_MS_Sans_Serif13.0_0_0}MsiFilesInUse" TabSkip="no" Sunken="yes" Sorted="yes" />
        <Control Id="InstallBodyText" Type="Text" X="6" Y="9" Width="345" Height="36" Text="{\VSI_MS_Sans_Serif13.0_0_0}The following applications are using files which the installer must update. You can either close the applications and click &quot;Try Again&quot;, or click &quot;Continue&quot; so that the installer continues the installation, and replaces these files when your system restarts." TabSkip="yes" NoPrefix="yes">
          <Condition Action="show"><![CDATA[REMOVE=""]]></Condition>
          <Condition Action="hide"><![CDATA[REMOVE<>""]]></Condition>
        </Control>
        <Control Id="RemoveBodyText" Type="Text" X="6" Y="9" Width="345" Height="36" Text="{\VSI_MS_Sans_Serif13.0_0_0}The following applications are using files which the installer must remove. You can either close the applications and click &quot;Try Again&quot;, or click &quot;Continue&quot; so that the installer continues the installation, and replaces these files when your system restarts." TabSkip="yes" NoPrefix="yes">
          <Condition Action="show"><![CDATA[REMOVE<>""]]></Condition>
          <Condition Action="hide"><![CDATA[REMOVE=""]]></Condition>
        </Control>
      </Dialog>
      <Dialog Id="SelectFolderDialog" X="50" Y="50" Width="313" Height="223" Title="Browse for Folder" NoMinimize="yes">
        <Control Id="OKButton" Type="PushButton" X="168" Y="198" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}OK" TabSkip="no" Default="yes">
          <Publish Event="SetTargetPath" Value="[SelectFolderDialog_Property]">1</Publish>
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="CancelButton" Type="PushButton" X="240" Y="198" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}Cancel" TabSkip="no" Cancel="yes">
          <Publish Event="Reset" Value="{}">1</Publish>
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="BrowseText" Type="Text" X="6" Y="9" Width="60" Height="12" Text="{\VSI_MS_Sans_Serif13.0_0_0}&amp;Browse:" TabSkip="no" />
        <Control Id="FolderCombo" Type="DirectoryCombo" X="66" Y="6" Width="198" Height="120" Property="SelectFolderDialog_Property" Text="{\VSI_MS_Sans_Serif13.0_0_0}MsiDirectoryCombo" TabSkip="no" Indirect="yes" Removable="yes" Fixed="yes" Remote="yes" RAMDisk="yes" Floppy="yes" />
        <Control Id="FolderUpButton" Type="PushButton" X="270" Y="6" Width="18" Height="18" Text="[SFF_UpFldrBtn]" TabSkip="no" IconSize="16" FixedSize="yes" Icon="yes">
          <Publish Event="DirectoryListUp" Value="{}">1</Publish>
        </Control>
        <Control Id="NewFolderButton" Type="PushButton" X="288" Y="6" Width="18" Height="18" Text="[SFF_NewFldrBtn]" TabSkip="no" IconSize="16" FixedSize="yes" Icon="yes">
          <Publish Event="DirectoryListNew" Value="{}">1</Publish>
        </Control>
        <Control Id="FolderList" Type="DirectoryList" X="6" Y="30" Width="300" Height="129" Property="SelectFolderDialog_Property" Text="{\VSI_MS_Sans_Serif13.0_0_0}MsiDirectoryList" TabSkip="no" Sunken="yes" Indirect="yes" />
        <Control Id="FolderText" Type="Text" X="6" Y="171" Width="60" Height="12" Text="{\VSI_MS_Sans_Serif13.0_0_0}&amp;Folder:" TabSkip="no" />
        <Control Id="FolderPathEdit" Type="PathEdit" X="66" Y="168" Width="240" Height="18" Property="SelectFolderDialog_Property" Text="{\VSI_MS_Sans_Serif13.0_0_0}MsiPathEdit" TabSkip="no" Sunken="yes" Indirect="yes" />
      </Dialog>
      <Dialog Id="ErrorDialog" X="50" Y="50" Width="330" Height="101" Title="[ProductName]" ErrorDialog="yes">
        <Control Id="ErrorText" Type="Text" X="6" Y="9" Width="318" Height="48" Text="{\VSI_MS_Sans_Serif13.0_0_0}" TabSkip="no" Disabled="yes" NoPrefix="yes" />
        <Control Id="Y" Type="PushButton" X="240" Y="72" Width="81" Height="21" Text="{\VSI_MS_Sans_Serif13.0_0_0}&amp;Yes" TabSkip="yes">
          <Publish Event="EndDialog" Value="ErrorYes" />
        </Control>
        <Control Id="A" Type="PushButton" X="0" Y="72" Width="81" Height="21" Text="{\VSI_MS_Sans_Serif13.0_0_0}E&amp;xit Installation" TabSkip="yes">
          <Publish Event="EndDialog" Value="ErrorAbort" />
        </Control>
        <Control Id="C" Type="PushButton" X="42" Y="72" Width="81" Height="21" Text="{\VSI_MS_Sans_Serif13.0_0_0}Cancel" TabSkip="yes">
          <Publish Event="EndDialog" Value="ErrorCancel" />
        </Control>
        <Control Id="I" Type="PushButton" X="81" Y="72" Width="81" Height="21" Text="{\VSI_MS_Sans_Serif13.0_0_0}C&amp;ontinue" TabSkip="yes">
          <Publish Event="EndDialog" Value="ErrorIgnore" />
        </Control>
        <Control Id="N" Type="PushButton" X="120" Y="72" Width="81" Height="21" Text="{\VSI_MS_Sans_Serif13.0_0_0}&amp;No" TabSkip="yes">
          <Publish Event="EndDialog" Value="ErrorNo" />
        </Control>
        <Control Id="O" Type="PushButton" X="159" Y="72" Width="81" Height="21" Text="{\VSI_MS_Sans_Serif13.0_0_0}OK" TabSkip="yes">
          <Publish Event="EndDialog" Value="ErrorOk" />
        </Control>
        <Control Id="R" Type="PushButton" X="198" Y="72" Width="81" Height="21" Text="{\VSI_MS_Sans_Serif13.0_0_0}&amp;Try Again" TabSkip="yes">
          <Publish Event="EndDialog" Value="ErrorRetry" />
        </Control>
      </Dialog>
    </UI>
    <UI Id="UserInterface">
      <Binary Id="DefBannerBitmap" SourceFile="Resources\WiXDefBannerBitmap.bmp" />
      <Property Id="DefaultUIFont" Value="VsdDefaultUIFont.524F4245_5254_5341_4C45_534153783400" />
      <TextStyle Id="VsdDefaultUIFont.524F4245_5254_5341_4C45_534153783400" FaceName="MS Sans Serif" Size="9" Red="0" Green="0" Blue="0" />
      <UIText Id="MenuLocal"><![CDATA[Will be installed on local hard drive]]></UIText>
      <UIText Id="SelParentCostNegNeg"><![CDATA[This feature frees up [1] on your hard drive. It has [2] of [3] subfeatures selected. The subfeatures free up [4] on your hard drive.]]></UIText>
      <UIText Id="SelNetworkNetwork"><![CDATA[This feature will remain to be run from the network]]></UIText>
      <UIText Id="SelNetworkLocal"><![CDATA[This feature will change from run from network state to be installed on the local hard drive]]></UIText>
      <UIText Id="SelNetworkAdvertise"><![CDATA[This feature will change from run from network state to set to be installed when required]]></UIText>
      <UIText Id="SelNetworkAbsent"><![CDATA[This feature will be uninstalled completely, you won't be able to run it from the network]]></UIText>
      <UIText Id="SelAbsentAbsent"><![CDATA[This feature will remain uninstalled]]></UIText>
      <UIText Id="ScriptInProgress"><![CDATA[Gathering required information...]]></UIText>
      <UIText Id="MenuCD"><![CDATA[Will be installed to run from CD]]></UIText>
      <UIText Id="SelChildCostNeg"><![CDATA[This feature frees up [1] on your hard drive.]]></UIText>
      <UIText Id="SelCDLocal"><![CDATA[This feature will change from run from CD state to be installed on the local hard drive]]></UIText>
      <UIText Id="MenuAbsent"><![CDATA[Entire feature will be unavailable]]></UIText>
      <UIText Id="SelCDAdvertise"><![CDATA[This feature will change from run from CD state to set to be installed when required]]></UIText>
      <UIText Id="MenuAllNetwork"><![CDATA[Entire feature will be installed to run from network]]></UIText>
      <UIText Id="SelLocalNetwork"><![CDATA[This feature will be removed from your local hard drive, but will be still available to run from the network]]></UIText>
      <UIText Id="SelAdvertiseNetwork"><![CDATA[This feature will be available to run from the network]]></UIText>
      <UIText Id="MenuAllLocal"><![CDATA[Entire feature will be installed on local hard drive]]></UIText>
      <UIText Id="SelAdvertiseLocal"><![CDATA[This feature will be installed on your local hard drive]]></UIText>
      <UIText Id="MenuAllCD"><![CDATA[Entire feature will be installed to run from CD]]></UIText>
      <UIText Id="SelCDAbsent"><![CDATA[This feature will be uninstalled completely, you won't be able to run it from CD]]></UIText>
      <UIText Id="MenuAdvertise"><![CDATA[Feature will be installed when required]]></UIText>
      <UIText Id="SelAdvertiseCD"><![CDATA[This feature will be available to run from CD]]></UIText>
      <UIText Id="bytes"><![CDATA[bytes]]></UIText>
      <UIText Id="SelAdvertiseAdvertise"><![CDATA[Will be installed when required]]></UIText>
      <UIText Id="AbsentPath" />
      <UIText Id="MB"><![CDATA[MB]]></UIText>
      <UIText Id="SelAdvertiseAbsent"><![CDATA[This feature will become unavailable]]></UIText>
      <UIText Id="KB"><![CDATA[KB]]></UIText>
      <UIText Id="GB"><![CDATA[GB]]></UIText>
      <UIText Id="SelAbsentNetwork"><![CDATA[This feature will be installed to run from the network]]></UIText>
      <UIText Id="SelAbsentCD"><![CDATA[This feature will be installed to run from CD]]></UIText>
      <UIText Id="SelAbsentAdvertise"><![CDATA[This feature will be set to be installed when required]]></UIText>
      <UIText Id="SelAbsentLocal"><![CDATA[This feature will be installed on the local hard drive]]></UIText>
      <UIText Id="SelCDCD"><![CDATA[This feature will remain to be run from CD]]></UIText>
      <UIText Id="NewFolder"><![CDATA[Folder|New Folder]]></UIText>
      <UIText Id="MenuNetwork"><![CDATA[Will be installed to run from network]]></UIText>
      <UIText Id="SelLocalCD"><![CDATA[This feature will be removed from your local hard drive, but will be still available to run from CD]]></UIText>
      <UIText Id="SelLocalAbsent"><![CDATA[This feature will be completely removed]]></UIText>
      <UIText Id="SelCostPending"><![CDATA[Compiling cost for this feature...]]></UIText>
      <UIText Id="SelLocalLocal"><![CDATA[This feature will remain on you local hard drive]]></UIText>
      <UIText Id="SelChildCostPos"><![CDATA[This feature requires [1] on your hard drive.]]></UIText>
      <UIText Id="SelLocalAdvertise"><![CDATA[This feature will be removed from your local hard drive, but will be set to be installed when required]]></UIText>
      <UIText Id="SelParentCostNegPos"><![CDATA[This feature frees up [1] on your hard drive. It has [2] of [3] subfeatures selected. The subfeatures require [4] on your hard drive.]]></UIText>
      <UIText Id="SelParentCostPosNeg"><![CDATA[This feature requires [1] on your hard drive. It has [2] of [3] subfeatures selected. The subfeatures free up [4] on your hard drive.]]></UIText>
      <UIText Id="SelParentCostPosPos"><![CDATA[This feature requires [1] on your hard drive. It has [2] of [3] subfeatures selected. The subfeatures require [4] on your hard drive.]]></UIText>
      <UIText Id="TimeRemaining"><![CDATA[Time remaining: {[1] minutes }{[2] seconds}]]></UIText>
      <UIText Id="VolumeCostAvailable"><![CDATA[Available]]></UIText>
      <UIText Id="VolumeCostDifference"><![CDATA[Difference]]></UIText>
      <UIText Id="VolumeCostRequired"><![CDATA[Required]]></UIText>
      <UIText Id="VolumeCostSize"><![CDATA[Disk Size]]></UIText>
      <UIText Id="VolumeCostVolume"><![CDATA[Volume]]></UIText>
    </UI>
    <UI Id="FinishedDlg">
      <Property Id="MaintenanceForm_Action" Value="Repair" />
      <RadioButtonGroup Property="MaintenanceForm_Action">
        <RadioButton Height="17" Text="{\VSI_MS_Sans_Serif13.0_0_0}&amp;Repair [ProductName]" Value="Repair" Width="348" X="0" Y="0" />
        <RadioButton Height="17" Text="{\VSI_MS_Sans_Serif13.0_0_0}Re&amp;move [ProductName]" Value="Remove" Width="348" X="0" Y="18" />
      </RadioButtonGroup>
      <Dialog Id="UserExitForm" X="50" Y="50" Width="373" Height="287" Title="[ProductName]">
        <Control Id="CloseButton" Type="PushButton" X="300" Y="261" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}&amp;Close" TabSkip="no" Default="yes" Cancel="yes">
          <Publish Event="EndDialog" Value="Return"><![CDATA[1]]></Publish>
        </Control>
        <Control Id="CancelButton" Type="PushButton" X="156" Y="261" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}Cancel" TabSkip="no" Disabled="yes" />
        <Control Id="PreviousButton" Type="PushButton" X="228" Y="261" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}&lt; &amp;Back" TabSkip="no" Disabled="yes" />
        <Control Id="BannerBmp" Type="Bitmap" X="0" Y="0" Width="375" Height="52" Text="DefBannerBitmap" TabSkip="no" Disabled="yes" />
        <Control Id="Line1" Type="Line" X="0" Y="52" Width="375" Height="6" Text="{\VSI_MS_Sans_Serif13.0_0_0}MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
        <Control Id="Line2" Type="Line" X="0" Y="252" Width="375" Height="6" Text="{\VSI_MS_Sans_Serif13.0_0_0}MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
        <Control Id="BannerText" Type="Text" X="9" Y="9" Width="306" Height="33" Text="{\VSI_MS_Sans_Serif16.0_1_0}Installation Interrupted" TabSkip="yes" Transparent="yes" NoPrefix="yes" />
        <Control Id="BodyTextRemove" Type="Text" X="9" Y="63" Width="354" Height="180" Text="{\VSI_MS_Sans_Serif13.0_0_0}The installer was interrupted before [ProductName] could be removed. You need to restart the installer to try again.&#xD;&#xA;&#xD;&#xA;Click &quot;Close&quot; to exit." TabSkip="yes" NoPrefix="yes">
          <Condition Action="show"><![CDATA[REMOVE<>""]]></Condition>
          <Condition Action="hide"><![CDATA[REMOVE=""]]></Condition>
        </Control>
        <Control Id="BodyTextInstall" Type="Text" X="18" Y="63" Width="342" Height="24" Text="{\VSI_MS_Sans_Serif13.0_0_0}The installation was interrupted before [ProductName] could be installed. You need to restart the installer to try again." TabSkip="yes" NoPrefix="yes">
          <Condition Action="show"><![CDATA[REMOVE=""]]></Condition>
          <Condition Action="hide"><![CDATA[REMOVE<>""]]></Condition>
        </Control>
      </Dialog>
      <Dialog Id="FatalErrorForm" X="50" Y="50" Width="373" Height="287" Title="[ProductName]">
        <Control Id="CloseButton" Type="PushButton" X="300" Y="261" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}&amp;Close" TabSkip="no" Default="yes" Cancel="yes">
          <Publish Event="EndDialog" Value="Return"><![CDATA[1]]></Publish>
        </Control>
        <Control Id="CancelButton" Type="PushButton" X="156" Y="261" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}Cancel" TabSkip="no" Disabled="yes" />
        <Control Id="PreviousButton" Type="PushButton" X="228" Y="261" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}&lt; &amp;Back" TabSkip="no" Disabled="yes" />
        <Control Id="BannerBmp" Type="Bitmap" X="0" Y="0" Width="375" Height="52" Text="DefBannerBitmap" TabSkip="no" Disabled="yes" />
        <Control Id="Line1" Type="Line" X="0" Y="52" Width="375" Height="6" Text="{\VSI_MS_Sans_Serif13.0_0_0}MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
        <Control Id="Line2" Type="Line" X="0" Y="252" Width="375" Height="6" Text="{\VSI_MS_Sans_Serif13.0_0_0}MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
        <Control Id="BannerText" Type="Text" X="9" Y="9" Width="306" Height="33" Text="{\VSI_MS_Sans_Serif16.0_1_0}Installation Incomplete" TabSkip="yes" Transparent="yes" NoPrefix="yes" />
        <Control Id="BodyTextRemove" Type="Text" X="9" Y="63" Width="354" Height="180" Text="{\VSI_MS_Sans_Serif13.0_0_0}The installer was interrupted before [ProductName] could be installed. You need to restart the installer to try again.&#xD;&#xA;&#xD;&#xA;Click &quot;Close&quot; to exit." TabSkip="yes" NoPrefix="yes">
          <Condition Action="show"><![CDATA[REMOVE=""]]></Condition>
          <Condition Action="hide"><![CDATA[REMOVE<>""]]></Condition>
        </Control>
        <Control Id="BodyTextInstall" Type="Text" X="9" Y="63" Width="354" Height="180" Text="{\VSI_MS_Sans_Serif13.0_0_0}The installer was interrupted before [ProductName] could be removed. You need to restart the installer to try again.&#xD;&#xA;&#xD;&#xA;Click &quot;Close&quot; to exit." TabSkip="yes" NoPrefix="yes">
          <Condition Action="show"><![CDATA[REMOVE<>""]]></Condition>
          <Condition Action="hide"><![CDATA[REMOVE=""]]></Condition>
        </Control>
      </Dialog>
      <Dialog Id="MaintenanceForm" X="50" Y="50" Width="373" Height="287" Title="[ProductName]">
        <Control Id="FinishButton" Type="PushButton" X="300" Y="261" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}&amp;Finish" TabSkip="no" Default="yes">
          <Publish Property="REINSTALL" Value="ALL"><![CDATA[MaintenanceForm_Action="Repair"]]></Publish>
          <Publish Event="Reinstall" Value="ALL"><![CDATA[MaintenanceForm_Action="Repair"]]></Publish>
          <Publish Property="REMOVE" Value="ALL"><![CDATA[MaintenanceForm_Action="Remove"]]></Publish>
          <Publish Event="Remove" Value="ALL"><![CDATA[MaintenanceForm_Action="Remove"]]></Publish>
          <Publish Event="EndDialog" Value="Return"><![CDATA[1]]></Publish>
        </Control>
        <Control Id="RepairRadioGroup" Type="RadioButtonGroup" X="18" Y="108" Width="348" Height="48" Property="MaintenanceForm_Action" Text="{\VSI_MS_Sans_Serif13.0_0_0}MsiRadioButtonGroup" TabSkip="no" />
        <Control Id="CancelButton" Type="PushButton" X="156" Y="261" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}Cancel" TabSkip="no" Cancel="yes">
          <Publish Event="SpawnDialog" Value="Cancel" />
        </Control>
        <Control Id="PreviousButton" Type="PushButton" X="228" Y="261" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}&lt; &amp;Back" TabSkip="no" Disabled="yes" />
        <Control Id="BannerBmp" Type="Bitmap" X="0" Y="0" Width="375" Height="52" Text="DefBannerBitmap" TabSkip="no" Disabled="yes" />
        <Control Id="Line1" Type="Line" X="0" Y="52" Width="375" Height="6" Text="{\VSI_MS_Sans_Serif13.0_0_0}MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
        <Control Id="Line2" Type="Line" X="0" Y="252" Width="375" Height="6" Text="{\VSI_MS_Sans_Serif13.0_0_0}MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
        <Control Id="BannerText" Type="Text" X="9" Y="9" Width="306" Height="33" Text="{\VSI_MS_Sans_Serif16.0_1_0}Welcome to the [ProductName] Setup Wizard" TabSkip="yes" Transparent="yes" NoPrefix="yes" />
        <Control Id="BodyText" Type="Text" X="9" Y="63" Width="354" Height="42" Text="{\VSI_MS_Sans_Serif13.0_0_0}Select whether you want to repair or remove [ProductName]." TabSkip="yes" NoPrefix="yes" />
      </Dialog>
      <Dialog Id="ResumeForm" X="50" Y="50" Width="373" Height="287" Title="[ProductName]">
        <Control Id="FinishButton" Type="PushButton" X="300" Y="261" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}&amp;Finish" TabSkip="no" Default="yes">
          <Publish Event="EndDialog" Value="Return"><![CDATA[1]]></Publish>
        </Control>
        <Control Id="CancelButton" Type="PushButton" X="156" Y="261" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}Cancel" TabSkip="no" Cancel="yes">
          <Publish Event="SpawnDialog" Value="Cancel" />
        </Control>
        <Control Id="PreviousButton" Type="PushButton" X="228" Y="261" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}&lt; &amp;Back" TabSkip="no" Disabled="yes" />
        <Control Id="BannerBmp" Type="Bitmap" X="0" Y="0" Width="375" Height="52" Text="DefBannerBitmap" TabSkip="no" Disabled="yes" />
        <Control Id="Line1" Type="Line" X="0" Y="52" Width="375" Height="6" Text="{\VSI_MS_Sans_Serif13.0_0_0}MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
        <Control Id="Line2" Type="Line" X="0" Y="252" Width="375" Height="6" Text="{\VSI_MS_Sans_Serif13.0_0_0}MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
        <Control Id="BannerText" Type="Text" X="9" Y="9" Width="306" Height="33" Text="{\VSI_MS_Sans_Serif16.0_1_0}Welcome to the [ProductName] Setup Wizard" TabSkip="yes" Transparent="yes" NoPrefix="yes" />
        <Control Id="BodyText" Type="Text" X="9" Y="63" Width="354" Height="180" Text="{\VSI_MS_Sans_Serif13.0_0_0}The installer will resume the installation of [ProductName] on your computer.&#xD;&#xA;&#xD;&#xA;Click &quot;Finish&quot; to continue." TabSkip="yes" NoPrefix="yes" />
      </Dialog>
      <Dialog Id="FinishedForm" X="50" Y="50" Width="373" Height="287" Title="[ProductName]">
        <Control Id="CloseButton" Type="PushButton" X="300" Y="261" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}&amp;Close" TabSkip="no" Default="yes" Cancel="yes">
          <Publish Event="EndDialog" Value="Return"><![CDATA[1]]></Publish>
        </Control>
        <Control Id="CancelButton" Type="PushButton" X="156" Y="261" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}Cancel" TabSkip="no" Disabled="yes" />
        <Control Id="PreviousButton" Type="PushButton" X="228" Y="261" Width="66" Height="18" Text="{\VSI_MS_Sans_Serif13.0_0_0}&lt; &amp;Back" TabSkip="no" Disabled="yes" />
        <Control Id="BannerBmp" Type="Bitmap" X="0" Y="0" Width="375" Height="52" Text="DefBannerBitmap" TabSkip="no" Disabled="yes" />
        <Control Id="Line1" Type="Line" X="0" Y="52" Width="375" Height="6" Text="{\VSI_MS_Sans_Serif13.0_0_0}MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
        <Control Id="Line2" Type="Line" X="0" Y="252" Width="375" Height="6" Text="{\VSI_MS_Sans_Serif13.0_0_0}MsiHorizontalLine" TabSkip="yes" Disabled="yes" />
        <Control Id="BannerText" Type="Text" X="9" Y="9" Width="306" Height="33" Text="{\VSI_MS_Sans_Serif16.0_1_0}Installation Complete" TabSkip="yes" Transparent="yes" NoPrefix="yes" />
        <Control Id="BodyTextRemove" Type="Text" X="9" Y="63" Width="354" Height="138" Text="{\VSI_MS_Sans_Serif13.0_0_0}[ProductName] has been successfully removed.&#xD;&#xA;&#xD;&#xA;Click &quot;Close&quot; to exit." TabSkip="yes" NoPrefix="yes">
          <Condition Action="show"><![CDATA[REMOVE<>""]]></Condition>
          <Condition Action="hide"><![CDATA[REMOVE=""]]></Condition>
        </Control>
        <Control Id="UpdateText" Type="Text" X="9" Y="216" Width="354" Height="36" Text="{\VSI_MS_Sans_Serif13.0_0_0}Please use Windows Update to check for any critical updates to the .NET Framework." TabSkip="yes" NoPrefix="yes">
          <Condition Action="show"><![CDATA[REMOVE=""]]></Condition>
          <Condition Action="hide"><![CDATA[REMOVE<>""]]></Condition>
        </Control>
        <Control Id="BodyText" Type="Text" X="9" Y="63" Width="354" Height="138" Text="{\VSI_MS_Sans_Serif13.0_0_0}[ProductName] has been successfully installed.&#xD;&#xA;&#xD;&#xA;Click &quot;Close&quot; to exit." TabSkip="yes" NoPrefix="yes">
          <Condition Action="show"><![CDATA[REMOVE=""]]></Condition>
          <Condition Action="hide"><![CDATA[REMOVE<>""]]></Condition>
        </Control>
      </Dialog>
    </UI>
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="dir_7EEFC63C_A58B_45E7_9C54_9F820DF52FED" Name="PicPick">
          <Component Id="comp_F0436516_3F5A_487C_A84E_8B74A8D207F0" Guid="018562E1-08DA-4B1B-BF5A-9B02C745AA68" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_F99AA5F8_AC25_493A_929E_AB2D8CF31401" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="CommonServiceLocator.dll" Source="..\packages\CommonServiceLocator.2.0.4\lib\net46\CommonServiceLocator.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_89230101_BDAA_4E68_AE17_D67CB7323483" Guid="59FA41C4-134E-4EB7-9E13-B12745945DB8" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_8B388C4F_2E3D_4A8F_B5C7_7930A8F0FDDC" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="ControlzEx.dll" Source="..\packages\ControlzEx.3.0.2.4\lib\net45\ControlzEx.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_A2F668D2_A7E4_4079_94B8_C7959718CE2F" Guid="BF20DDCA-E7C9-4B9B-BEF7-B5DD384A578F" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_E32BB573_9E9A_4D5C_BA70_EE516256A4A8" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="log4net.dll" Source="..\packages\log4net.2.0.8\lib\net45-full\log4net.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_431011E1_953B_4279_9198_27E6235F6991" Guid="75845BD3-A830-4A31-8CFC-55C18A28838E" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_42AA0964_883A_489E_B442_0AC882E34010" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="MahApps.Metro.dll" Source="..\packages\MahApps.Metro.1.6.5\lib\net46\MahApps.Metro.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_F1A7A4C0_9239_4DF1_B066_EE3D3810375F" Guid="00C79202-5502-4344-8C99-A8D1A64342B8" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_DAAAD6A4_BF0C_4679_8D30_FB7AACE36EDB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="..\packages\Microsoft.Extensions.DependencyInjection.Abstractions.2.2.0\lib\netstandard2.0\Microsoft.Extensions.DependencyInjection.Abstractions.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_A071CEB7_904B_40AF_95A8_5BBFFAE75D61" Guid="03080487-6124-4894-BBAD-C27F9EA293F8" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_82386840_7569_44B1_97BD_5022F2768B3A" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.Extensions.DependencyInjection.dll" Source="..\packages\Microsoft.Extensions.DependencyInjection.2.2.0\lib\net461\Microsoft.Extensions.DependencyInjection.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_07967EDE_1183_41DF_AD1C_4DFECD6A26EB" Guid="AD9EC7C7-9833-4C5B-B367-54A9D6461732" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_CF702FC8_2775_43A4_A762_23BB3329B757" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="netfx.force.conflicts.dll" Source="..\..\..\..\..\..\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\net461\lib\netfx.force.conflicts.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_B8D5AC86_0017_403B_A2B8_022349488EC5" Guid="956BE974-B0B8-469B-B4EC-883299E2782C" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_526710AB_4C02_4F37_BCC7_75343D514F9A" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="netstandard.dll" Source="..\..\..\..\..\..\Program Files (x86)\Microsoft Visual Studio\2019\Professional\MSBuild\Microsoft\Microsoft.NET.Build.Extensions\net461\lib\netstandard.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_F0674128_E3F5_4858_9EAD_5B37FFE5CE13" Guid="BCCD4850-6116-4424-A57B-E52D6C9EFC0B" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_9EC3EBBA_6E08_4B7C_A168_E1CC6E2E93F4" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="PicPick.dll" Source="..\PicPickEngine\bin\Debug\PicPick.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_918BE395_6CDB_4A41_99D7_F13CA2263EFA" Guid="05991AD6-30EA-4AD6-9956-03B61E984842" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_CF503663_59CD_4172_B8B6_B09737F53EDB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Prism.dll" Source="..\packages\Prism.Core.7.2.0.1367\lib\net45\Prism.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_886F49F8_9D0C_4B5B_B315_A4267A032E08" Guid="ED1BFC70-DA6C-4EFE-8F7B-3B2D529B5598" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_65D9A238_45E2_473F_9E64_9BFF17A17ADB" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.ValueTuple.dll" Source="..\packages\System.ValueTuple.4.5.0\lib\net461\System.ValueTuple.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_2D34C92D_6B06_49DC_A407_AB69A3C2DC6E" Guid="8EAB7084-B215-484E-8C3A-D2D6450F325E" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_160B2282_FDA9_4939_9545_907405EA294A" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="TalUtils.dll" Source="..\TalUtils\bin\Debug\TalUtils.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_09B9BA0E_9AEA_450F_85C2_692F549F236B" Guid="9CA02AFD-CDC6-4093-B90C-4BD89F28EF1E" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_4F032CCD_0558_4F8D_AF6B_7C919ADE872C" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="System.Windows.Interactivity.dll" Source="..\packages\ControlzEx.3.0.2.4\lib\net45\System.Windows.Interactivity.dll" KeyPath="yes" />
          </Component>
          <Component Id="comp_3732FABD_30FD_4E4E_B9E2_7E1FA8618D1A" Guid="6A4D857B-BD64-422A-8F17-90749DAFB261" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_D7DE799B_4FAA_4138_8B6B_415D7D9F878E" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Microsoft.VisualBasic.dll" Source="..\..\..\..\..\..\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.6.1\Microsoft.VisualBasic.dll" KeyPath="yes" />
          </Component>
          <Directory Id="PicPickWpf.Binaries" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="dir_66C10128_6E71_41FC_8CA1_867190F3A1D0" Name="PicPick">
          <Component Id="comp_dir_66C10128_6E71_41FC_8CA1_867190F3A1D0" Guid="BA934DB9-A3C3-4707-B51F-FDA34A6CE916">
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Installer" Name="comp_dir_66C10128_6E71_41FC_8CA1_867190F3A1D0" Type="string" Value="New Folder #1 directory" KeyPath="yes" />
            <RemoveFolder Id="id_498E7462_0C9D_461F_B02B_ADBDFAB8F3CB" On="uninstall" Directory="dir_66C10128_6E71_41FC_8CA1_867190F3A1D0" />
          </Component>
          <Component Id="comp_CED480B7_DB08_4612_A698_0C7585DF7CD7" Guid="0438E72F-22EB-4D45-9290-C8333E91764D" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <Shortcut Id="_C1641652_6037_4497_84B5_8F0D4BF7CFB1" Directory="dir_66C10128_6E71_41FC_8CA1_867190F3A1D0" Name="PicPick" Show="normal" Target="[dir_7EEFC63C_A58B_45E7_9C54_9F820DF52FED]PicPickUI.exe" WorkingDirectory="dir_66C10128_6E71_41FC_8CA1_867190F3A1D0" />
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Installer" Name="comp_CED480B7_DB08_4612_A698_0C7585DF7CD7" Type="string" Value="PicPick directory" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
  </Fragment>
</Wix>